<header>

    <a href="~/home" class="logo">
        <img src="~/Themes/serendip.agency/assets/svg/logo-main.svg" alt="">
    </a>

    <div class="icons">
        <div class="menu" id="nav-toggle">
            <img src="~/Themes/serendip.agency/assets/svg/menu-bar.svg" class="i1" alt="">
            <img src="~/Themes/serendip.agency/assets/svg/arrow-right.svg" class="i2" alt="">
        </div>
        @*<div class="search">
            <img src="~/Themes/serendip.agency/assets/svg/search.svg" alt="">
        </div>*@
        <div class="account">
            <img src="~/Themes/serendip.agency/assets/svg/user-area.svg" alt="">
        </div>
    </div>

</header>