
<nav id="nav">
    <ul>
        <li>
            <a  href="/home">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/intro.svg" alt="">
                </div>

                معرفی سرندیپ
            </a>
        </li>
        <li>
            <a href="/pricing">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/pricing.svg" alt="">
                </div>

                تعرفه‌ها
            </a>
        </li>



        <li>
            <a href="/features">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/features.svg" alt="">
                </div>
                ویژگی‌ها
            </a>
        </li>

        <li>
            <a href="">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/agreement-2.svg" alt="">
                </div>
                ثبت ‌نام
            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/blog.svg" alt="">
                </div>
                بلاگ
            </a>
        </li>

        <li>
            <a href="">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/user-area.svg" alt="">
                </div>
                ناحیه کاربری
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/cloud.svg" alt="">
                </div>
                سرندیپ کلاد
                <span class="en">
                    (Cloud)
                </span>
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/local.svg" alt="">
                </div>
                سرندیپ لوکال
                <span class="en">
                    (LAN)
                </span>
            </a>
        </li>

        <li>
            <a href="/tos">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/agreement-1.svg" alt="">
                </div>
                توافق‌نامه کاربری
            </a>
        </li>


        <li>
            <a href="">
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/faq.svg" alt="">
                </div>
                سوالات متداول
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/comments.svg" alt="">
                </div>
                نظرات کاربران
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/contact.svg" alt="">
                </div>
                تماس با ما
            </a>
        </li>
        <li>
            <a href="">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/newsletter.svg" alt="">
                </div>
                عضویت در خبرنامه
            </a>
        </li>

        <li>
            <a href="">

                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/brochure-1.svg" alt="">
                </div>
                بروشور محصول
            </a>
        </li>

    </ul>
</nav>