<div id="features">

    <div class="box">
        <h1>
            ویژگی‌ها و مزایای سرندیپ در یک نگاه
        </h1>
        <ul>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-a.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    استفاده رایگان از نسخه دوکاربره
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-b.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    کاهش هزینه‌ها با تعرفه‌های رقابتی
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-c.svg" alt="" />
                </div>
                <div class="title">

                    قابلیت سفارشی‌سازی
                    <br> منعطف با توجه به شرایط هر صنف
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-d.svg" alt="" />
                </div>
                <div class="title">
                    دسترسی در لحظه
                    <br> بدون نیاز به اتصال اینترنتی

                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-e.svg" alt="" />
                </div>
                <div class="title">
                    دسترسی و ذخیره‌سازی اطلاعات بدون محدودیت زمانی و مکانی

                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-f.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div> اولویت با گوشی‌های هوشمند
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-g.svg" alt="" />
                </div>
                <div class="title">
                    سرعت بالا
                    <br> در ذخیره‌سازی و پردازش اطلاعات
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-h.svg" alt="" />
                </div>
                <div class="title">
                    امنیت اطلاعات
                    <br> سیستم احراز هویت دو‌فاکتوره
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-i.svg" alt="" />
                </div>
                <div class="title">
                    محدود‌سازی دسترسی به اطلاعات
                    <br> در چرچوب محل فعالیت
                    <span class="en">
                        (LAN)
                    </span>
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-j.svg" alt="" />
                </div>
                <div class="title">
                    سرویس کلاد
                    <span class="en">
                        (Cloud)
                    </span>
                    <br> دسترسی با دستگاه‌های مختلف

                </div>
            </li>



            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-k.svg" alt="" />
                </div>
                <div class="title">
                    پشتیبانی از سیستم عامل‌ها و پلتفرم‌های متفاوت
                    <span class="en">
                        (Cross platform)
                    </span>
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-l.svg" alt="" />
                </div>
                <div class="title">
                    تجربه کاربری
                    <span class="en">
                        (UX)
                    </span>
                    <br> منعطف و بسیار کارآمد
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-m.svg" alt="" />
                </div>
                <div class="title">
                    رابط کاربری
                    <span class="en">
                        (UI)
                    </span>
                    <br> کاربرد آسان , متفاوت و پویا
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/feature-n.svg" alt="" />
                </div>
                <div class="title">
                    رابط کاربری سازگار
                    <br>
                    با دستگاه‌های مختلف
                    <span class="en">
                        (Responsive)
                    </span>
                </div>
            </li>



        </ul>
    </div>

    <div class="box">
        <h1>
            قابلیت‌های سی آر ام سرندیپ
        </h1>
        <ul>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-a.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    امکان ایجاد چرخه اداری
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-b.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    مدیریت و تقسیم کار و وظایف
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-c.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    گزارش و پیگیری روند انجام کار
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-d.svg" alt="" />
                </div>
                <div class="title">
                    ارسال گزارش کار
                    <br> به مشتری و پرسنل مرتبط

                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-e.svg" alt="" />
                </div>
                <div class="title">
                    ارسال اعلان
                    <br>
                    به مشتری و پرسنل مرتبط

                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-f.svg" alt="" />
                </div>
                <div class="title">
                    خلق وفاداری
                    <br>
                    ایجاد ارتباط دو‌طرفه با مشتری
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-g.svg" alt="" />
                </div>
                <div class="title">
                    <span class="en">
                        (Leads)
                    </span>
                    <br>
                    شناسایی مشتری‌های مستعد

                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-h.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    مدیریت باشگاه مشتریان

                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-i.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>

                    سرویس ایمیل با تعرفه ارسال انبوه
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-j.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>

                    سرویس پیامک با تعرفه ارسال انبوه
                </div>
            </li>



            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-k.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>

                    سرویس فکس با تعرفه ارسال انبوه

                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-l.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>

                    خلق و مدیریت کمپین‌های فروش
                </div>
            </li>


            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-m.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>

                    ایجاد هدف‌‌‌گذاری برای فروش
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-n.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    همگام‌سازی با فروشگاه‌های اینترنتی
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-o.svg" alt="" />
                </div>
                <div class="title">
                    مدیریت رویدادها
                    <br>
                    <span class="en">
                        (Calendar & Events)
                    </span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/capability-p.svg" alt="" />
                </div>
                <div class="title">
                    همگام‌سازی
                    <br> با سرویس‌های سوم شخص
                </div>
            </li>



        </ul>
    </div>

    <div class="box">
        <h1>
            بستر‌های کاربری سی آر ام سرندیپ
        </h1>
        <ul>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-a.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    سازمان‌ها و بخش عمومی
                </div>
            </li>
            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-b.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    شرکت‌های بزرگ
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-c.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    کارخانه‌ها و واحدهای تولیدی بزرگ
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-d.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    واحد‌های تولیدی کوچک
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-e.svg" alt="" />
                </div>
                <div class="title">
                    <div class="half"></div>
                    فروشگاه‌ها و خرده‌فروشی
                </div>
            </li>

            <li>
                <div class="icon">
                    <img src="~/Themes/serendip.agency/assets/svg/customer-f.svg" alt="" />
                </div>
                <div class="title">
                    دفاتر مستقل
                    <br>
                    و

                    کسب و کار‌های کوچک

                </div>
            </li>

        </ul>
    </div>

</div>