@using HCMS.Dynamics.Tools

@{

    ViewBag.title = "نرم افزار مدیریت مشتری CRM";
}
<section class="astronaut">
    <div class="banner">
        <div class="globe4"></div>

        <div class="container">
            <div class="human"></div>
            <div class="globe1"></div>
            <div class="globe2"></div>
            <div class="globe3"></div>

            <div class="text"></div>
        </div>

    </div>

    <div class="cta">

        <h3>
            در کم تر از
            @("30".ToPersianNumber())
            ثانیه شروع کنید!
        </h3>

        <a href="/pricing" class="register">
            <img src="~/Themes/serendip.agency/assets/svg/agreement-2.svg" alt="">
            ثبت‌نام
        </a>
        <a href="" class="pricing">
            <img src="~/Themes/serendip.agency/assets/svg/pricing.svg" alt="">
            تعرفه‌ها
        </a>

    </div>

</section>

<section class="intro">

    <div class="container">
        <h1>
            نرم‌افزار مدیریت مشتری سرندیپ

        </h1>
        <h2>
            نرم‌افزار مدیریت مشتری یا
            <span class="en">

                CRM
            </span>

            چیست؟
        </h2>
        <p>

            همان‌طور که می‌دانیم تضمین بقا و ادامه مسیر برندها، به ویژه در دوران رکود و عدم ثبات، بازار رقابتی و تعدد روزافزون انتخاب‌های
            مشتریان، وابسته به درک جزییات هر کسب و کار و رفتار مشتریان آن می‌باشد. آگاهی از موارد پیدا و پنهان هر کسب و کار و درک
            جزییات آن تنها با کاربرد ابزار و تکنولوژی‌های مناسب برای جمع‌آوری و تحلیل اطلاعات میسر خواهد بود و یکی از مهم‌ترین
            ابزارهای امروزی در این راستا نرم‌افزار یکپارچه مدیریت مشتری
            <span class="en">

                (Customer Relationship Management)
            </span>
            یا سی آر ام می‌باشد.

        </p>

        <p>
            با استفاده از امکانات نرم‌افزار سی آر ام شما قادر خواهید بود تا به سادگی روابط خود را با مشتریانتان مدیریت و سامان‌دهی کرده
            و آن را توسعه دهید، رفتار آن‌ها را مورد تحلیل و ارزیابی قرار دهید، مخاطبان خود را حفظ کنید، مشتریان وفادار خود را بشناسید،
            صدای آن‌ها را بشنوید و شکایات و پیشنهاداتشان را ثبت نمایید، مخاطبان موجود
            <span class="en">
                (Leads)
            </span> را به مشتریان خود بدل کنید، سهم خود را از بازار کسب و کارتان اندازه بگیرید، خدمات پس از فروش ارائه نمایید
            و در نهایت فروش خود را افزایش دهید.
        </p>
        <div class="clear"></div>
    </div>
</section>


<section class="employees">

    <div class="banner">
        <div class="bg">
            <img src="~/Themes/serendip.agency/assets/svg/crm-serendip-with-text-medium.svg" alt="">
        </div>
        <div class="shadow"></div>
    </div>

</section>


<section class="jef">
    <div class="container">

        <div class="info">
            <h3>
                تعامل‌محوری یک نرم‌افزار سی آر ام
            </h3>

            <p>
                سامان‌دهی ارائه خدمات بر اساس نیاز مشتریان
                <br> بالا بردن سطح رضایت مشتریان مطابق با اصول مشتری‌مداری
                <br> پیاده‌سازی فرآیندهای مشتری‌محور
            </p>
        </div>
        <div class="banner">
            <img src="~/Themes/serendip.agency/assets/svg/quotation-marks-jeff-bezos.svg" alt="">

        </div>
    </div>
    <div class="clear"></div>

</section>

<section class="channels">
    <div class="container">

        <div class="info">
            <h4>
                مهندسی کانال‌های ارتباطی با نرم‌افزار
                <span class="en">
                    CRM
                </span>
            </h4>
            <p>
                چگونه می‌توان با حداقل هزینه به حداکثر کردن تاثیر روی کاربران مورد نظرمان برسیم؟
                <br> آیا پیام‌های ارسالی برند به مخاطبانش تاثیر لازم را می‌گذارد و در محل صحیح خود به مقصد می‌رسد؟
                <br> اثرگذاری روی مخاطبان و تبدیل آن‌ها به مشتری خلق‌شده به چه مواردی بستگی دارد؟
                <br> آیا می‌توان میزان این اثرگذاری را مشخص و اندازه آن را تعیین کرد؟
            </p>

            <p>
                با شناسایی ارزش‌های پیشنهادی برند و مزایای رقابتی آن، شناخت زمینه بازار، تعیین گروه‌های مخاطب و درک صحیح نیاز و آرزوی آن‌ها،
                کانال‌های ارتباطی کسب و کار را مشخص می‌کنیم. با مدیریت کارآمد کانال‌های ارتباطی کسب و کار از طریق نرم‌افزار سی آر
                ام این امکان را خلق می‌کنیم تا پیام مورد نظر برند را به شرط حفظ ماهیت آن در مسیر انتقال به بازدیدکنندگان هدایت کنیم
                و از طریق پایش بهینه پیام‌ها، سرنخ‌های
                <span class="en">
                    (Leads)
                </span>
                کسب و کار را به مشتری خود تبدیل کنیم.
            </p>
        </div>

        <div class="banner">


            <img src="~/Themes/serendip.agency/assets/svg/astronaut-2-crm-integrations.svg" alt="">


        </div>

    </div>
    <div class="clear"></div>

</section>

<div class="clear"></div>


<section class="benefits">

    <div class="container">
        <h3>
            عمده‌ترین مزایای استفاده از سی آر ام چیست؟
        </h3>
        <div class="box">
            <div class="icon">
                <img src="~/Themes/serendip.agency/assets/svg/icon-integrations.svg" alt="">
            </div>
            <div class="info">
                <h5>
                    خلق و بازسازی ارتباطات اثربخش
                </h5>
                <p>
                    ادامه بقا و شکوفایی هر کسب و کار در گرو خلق ارتباطات جدید، مدیریت و هدایت هدفمند سرنخ‌ها و ایجاد پایداری، تقویت و بازسازی
                    نحوه تعاملات است که منجر به همکاری مطلوب‌تر و سوددهی بالاتر خواهد شد.
                </p>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <img src="~/Themes/serendip.agency/assets/svg/icon-efficiency.svg" alt="">
            </div>
            <div class="info">
                <h5>
                    استفاده بهینه از زمان و منابع
                </h5>
                <p>
                    زمان حقیقتاً باارزش‌ترین دارایی شناخته‌شده، به ویژه در حوزه کسب و کار است. سی آر ام سرندیپ به شما این امکان را خواهد داد
                    تا علاوه بر استفاده بهینه‌تر از زمان و منابع خود، فرصت‌ها و امکانات نوینی را خلق کنید.
                </p>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <img src="~/Themes/serendip.agency/assets/svg/icon-business-growth.svg" alt="">
            </div>
            <div class="info">
                <h5>
                    افزایش چشم‌گیر میزان فروش
                </h5>
                <p>
                    با استفاده از کانال‌های ارتباطی و تعاملات مشتری‌محور و متمایز سی آر ام سرندیپ، سرنخ‌های کسب و کار و مشتریان مستعدتان را کشف
                    کرده و آن‌ها را به همکاران تجاری وفاداری تبدیل کنید!
                </p>
            </div>
        </div>


    </div>
    <div class="clear"></div>
</section>


<section class="target-goals">

    <div class="bg">
        <img src="~/Themes/serendip.agency/assets/svg/astronaut-3-400-hieght-1920-width.svg" alt="" />
    </div>


    <div class="clear"></div>

</section>

<section class="crm-about">

    <div class="box">

        <h4>سی آر ام سرندیپ</h4>

        <p>
            نرم‌افزار مدیریت مشتری سرندیپ توسط تیمی از مجرب‌ترین متخصصین حوزه وب، فناوری اطلاعات، بازاریابی و برندسازی و در راستای توسعه
            و رشد برندهای ایرانی، با تکیه بر دانش فنی و کاربرد ابزار و فناوری‌های روز، عارضه‌یابی نرم‌افزارهای داخلی موجود و ارائه
            راه‌حل‌های عملیاتی، و در جهت تسهیل روند استفاده از نرم‌افزارهای اداری برای انواع کسب و کارها با مقیاس‌های متنوع طراحی
            شده است. سرندیپ بر آن است تا با ارائه خدمات در بالاترین سطح کیفی، استفاده از جدیدترین تکنولوژی‌های موجود در حوزه نرم‌افزار
            و وب و قیمت‌های بسیار رقابتی به عنوان شریک تجاری و همراه امین برندهای ایرانی، همگام با شما در مسیر ترقی و توسعه کسب
            و کارتان شما را همراهی کند. تجربه خوب مشتریان ما در فرآیندهای سامان‌دهی درون‌سازمانی و برون‌سازمانی، افزایش میزان فروش
            و جایگاه‌یابی و توسعه برندهایشان گواه این مدعاست.
        </p>

    </div>
    <div class="clear"></div>
</section>
<section class="integrations">
    <div class="container">

        <div class="bg">
            <img src="~/Themes/serendip.agency/assets/svg/serendip-crm-integrations-functions.svg" alt="">
        </div>

        <div class="box">
            <h3>
                تمایزات کلیدی نرم‌افزار مدیریت مشتری سرندیپ
            </h3>

            <p>
                نرم‌افزار یکپارچه مدیریت مشتری سرندیپ شما را در مسیر دستیابی به پیدا و پنهان کسب و کارتان حمایت می‌کند؛ همراه با ما قلمروهای
                کشف‌نشده کسب و کارتان را کشف خواهید کرد. علاوه بر هر آن چیزی که از یک <span class="en">CRM</span> توقع دارید، مانند بسته‌های بازاریابی و
                مشتری‌مداری، افزایش فروش و کشف فرصت‌ها، تهدیدها، نقاط ضعف و قوت کسب و کارتان، مدیریت کانال‌های ارتباطی یا سازمان‌دهی
                اطلاعات مرتبط با مراکز، شرکت‌های همکار و مشتریان، تجربه کار با سی آر ام سرندیپ فراتر از انتظارات شما خواهد بود!
            </p>

            <p>
                سرندیپ در عمل نخستین نرم‌افزار <span class="en">CRM</span> کاملاً رایگان محسوب می‌شود؛ شما این امکان را خواهید داشت تا نسخه دو کاربره ما را همواره
                رایگان استفاده کنید! از دیگر عواملی که سرندیپ را به عنوان مطلوب‌ترین انتخاب شما تعیین می‌کند، می‌توان به این موارد
                اشاره داشت.: قابلیت کار بدون نیاز به اتصال اینترنتی <span class="en">(Offline First)</span> ، امکان دسترسی‌های سریع به واسطه تجربه کاربری
                <span class="en">(UX)</span> قدرتمند، معماری منحصر به فرد در برنامه‌نویسی، سرعت پردازش بسیار بالا و بدون کندیِ نرم‌افزارهای اداری معمول،
                امکان توسعه‌پذیری و قابلیت سفارشی‌سازی بسیار منعطف با توجه به ویژگی‌های هر صنف، امکان اجرا از پلتفرم‌های متفاوت و
                سازگار با انواع سیستم‌های عامل، امنیت اطلاعاتی بسیار بالا و حفظ حریم شخصی کاربران، سیستم احراز هویت بدون نقص، قابلیت
                همگام‌سازی با سرویس‌های سوم شخص، طراحی آسان کاربرد <span class="en">(User Friendly)</span> و رابط کاربری جذاب و واکنش‌گرا <span class="en">(Responsive)</span> و
                سرویس‌های اس ام اس، ایمیل و فکس با تعرفه ارسال انبوه.
            </p>
            <div class="clear"></div>

        </div>


    </div>

</section>


<section class="pig">

    <div class="container">
        <div class="clear">
            <div class="box">
                <div class="inner">
                    <h3>
                        سرندیپ را همواره رایگان استفاده کنید!
                    </h3>
                    <p>
                        در راستای حمایت از توسعه کسب و کارهای نوپا، دفاتر خودگردان، استودیوها، مراکز و شرکت‌های کوچک علاوه بر ارائه قیمت‌های بسیار
                        مقرون به صرفه، همراهان ما می‌توانند سی آر ام سرندیپ را کاملاً رایگان استفاده کنند. سرندیپ در عمل نخستین نرم‌افزار
                        مدیریت مشتری کاملاً رایگان است؛ شما این امکان را دارید تا نسخه دو کاربره ما را با امکانات یکسان در سایر نسخه‌ها،
                        همواره رایگان استفاده کنید.
                    </p>

                </div>
            </div>

            <div class="bg">
                <div class="inner"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>


<section class="pwa">

    <div class="container">
        <div class="box">
            <div class="inner">
                <h3>
                    قابلیت کار بدون نیاز به اتصال اینترنتی!
                </h3>
                <p>
                    در داخل شرکت یا بیرون از سازمان، در داخل یا خارج از شهر، با اتصال به سرویس اینترنت یا بدون آن، اپلیکیشن سرندیپ به دلیل برخورداری
                    از معماری قدرتمند در برنامه‌نویسی، همیشه با سرعت پردازش بالا و بدون کندیِ نرم‌افزارهای اداری معمول همراه شما خواهد
                    بود. نرم‌افزار یکپارچه مدیریت مشتری سرندیپ با تکنولوژی <span class="en">(Progressive Web App)</span> طراحی شده و قابلیت کار بدون نیاز به
                    اتصال اینترنتی را دارد؛ چرا که این نرم‌افزار با تکنولوژی <span class="en">(Offline First)</span> طراحی شده است.
                </p>
            </div>
        </div>


        <div class="bg">
            <img src="~/Themes/serendip.agency/assets/svg/pwa-technology.svg" alt="">

        </div>

        <div class="clear"></div>

    </div>
</section>



<section class="responsive">
    <div class="container">

        <div class="box">

            <h3>
                رابط کاربری پویا، متفاوت و واکنش‌گرا
            </h3>
            <p>
                یکی از معضلاتی که کاربران در استفاده از نرم‌افزارهای اداری مانند سی آر ام با آن مواجه هستند، طراحی ایستا، فاقد جذابیت و کسل‌کننده
                است؛ با سی آر ام آسان کاربرد <span class="en">(User Friendly)</span> سرندیپ تجربه کاربری متفاوتی خواهید داشت!
                <br> رابط کاربری واکنش‌گرا <span class="en">(Responsive)</span> ، متفاوت و پویای سرندیپ با انواع سیستم‌های عامل و دستگاه‌های موجود سازگار می‌باشد؛
                پس تجربه استفاده از تکنولوژی <span class="en">(Mobile First)</span> ما را از دست ندهید! مدیریت دسترسی روی دستگاه‌های <span class="en">(Device)</span> مختلف از دیگر
                ویژگی‌های منحصر به فرد سی آر ام سرندیپ کلاد به شمار می‌رود.
            </p>
        </div>

        <div class="bg">

            <img src="~/Themes/serendip.agency/assets/svg/serendip-mobile-without-back-long.svg" alt="">
        </div>

        <div class="clear"></div>
    </div>
</section>




<section class="mobile">

    <div class="bg">
    </div>
</section>



<section class="customize">
    <div class="container">
        <div class="box">

            <h3>
                <span class="en">CRM</span> سرندیپ با قابلیت سفارشی‌سازی بالا متناسب با شرایط کسب و کار شما
            </h3>
            <p>
                نرم‌افزار مدیریت مشتری سرندیپ به دلیل برخورداری از طراحی معماری‌ قوی در زیرساخت خود، امکان توسعه‌پذیری و سفارشی‌سازی بالایی
                را برای کابران فراهم می‌کند. علاوه بر آن‌که سی آر ام سرندیپ با توجه به شرایط هر صنف قابلیت سفارشی‌سازی بالایی را
                فراهم آورده است، امکان دسترسی همزمان کاربر به اطلاعات چند شرکت و سازمان را داراست و از این حیث ابزار بسیار قدرتمندی
                برای مدیریت اطلاعات شعب یا هولدینگ‌ها به حساب می‌آید.
            </p>
        </div>

        <div class="bg">
        </div>
    </div>
    <div class="clear"></div>
</section>


<section class="heavy-auth">
    <div class="container">
        <div class="box">
            <h3>
                امنیت اطلاعات و سیستم احراز هویت دوفاکتوره
            </h3>
            <p>
                اطلاعات کسب و کارتان دارایی ارزشمند شما محسوب می‌شود. مطمئن‌ترین تکنولوژی‌های سیستم احراز هویت، امنیت دسترسی نرم‌افزار در
                دستگاه‌های مختلف و حفظ حریم شخصی کاربران از کلیدی‌ترین ویژگی‌های سی آر ام سرندیپ محسوب می‌شود؛ اطلاعات شما و اجازه
                دسترسی به آن تنها متعلق به خود شماست!
            </p>
        </div>

        <div class="bg">
        </div>
    </div>
    <div class="clear"></div>
</section>





<section class="third-party">
    <div class="container">
        <div class="box">
            <h3>
                همگام‌‌سازی با سرویس‌های سوم شخص
            </h3>
            <p>
                استفاده از سرویس‌های سوم شخص همراه با قابلیت همگام‌سازی با نرم‌افزار مانند مشاهده وضعیت آب و هوا یا رویدادها در تقویم جلالی
                از دیگر عوامل تمایز نرم‌افزار مدیریت مشتری سرندیپ می‌باشد.
            </p>
        </div>

        <div class="bg">
        </div>
    </div>
    <div class="clear"></div>
</section>