<div id="tos">
    <div class="containe">
        <h1>
            توافق‌نامه کاربری
        </h1>


        <div class="content">
            <p>
                این وبسایت و خدمات ارائه‌شده در آن توسط گروه سرندیپ مدیریت می‌شود. (در این توافق‌نامه «سرندیپ»: «ما»).
                <br> دسترسی به سرویس‌های سرندیپ تنها با ایجاد حساب کاربری امکان‌پذیر خواهد بود (در این توافق‌نامه «شما»).
            </p>
            <h2>
                حساب‌ها
            </h2>
            <p>
                با ثبت‌نام و فعال‌سازی حساب خود در سرندیپ, شما متعهد می‌شوید که به سن قانونی رسیده‌اید و تمامی اطلاعات ارائه‌شده توسط شما
                کامل، دقیق و به روز است. مسئولیت حفظ رمز عبور و اطمینان از امینت دستگاه‌ها (تلفن همراه، تبلت، کامپیوتر و...) و نرم‌افزارهای
                سوم شخصی که جهت استفاده از سرندیپ به کار می‌برید بر عهده شماست و در صورت رعایت نکردن موارد مذکور مسئولیتی متوجه گروه
                سرندیپ نخواهد بود. شما به طور کامل مسئول تمام فعالیت‌هایی هستید که توسط حساب، نام کاربری و رمز عبور شما انجام می‌پذیرد.
                پس از اطلاع از هر گونه مشکل امنیتی یا استفاده غیرمجاز از حسابتان، بلافاصله ما را مطلع سازید. ثبت، بارگذاری و یا انتقال
                محتوای ناقض کپی رایت یا قانون جرایم رایانه‌ای (لینک) با استفاده از خدمات ما غیرمجاز بوده و در صورت عدم پایبندی، مسئولیت
                آن متوجه شما خواهد بود.
            </p>
            <h2>
                حق مالکیت اطلاعات
            </h2>
            <p>

                مالک هر گونه اطلاعات واردشده در سرویس‌های سرندیپ شما می‌باشید و سرندیپ اجازه دسترسی به این اطلاعات را فقط به شما و کاربران
                تحت نظارت شما خواهد داد؛ این اطلاعات شامل آمار استفاده از سرویس‌ها نمی‌باشد. در صورت استفاده از سرویس‌ها و نرم‌افزارهای
                سوم شخص برای دسترسی به سرندیپ, آن‌ها نیز امکان دسترسی به اطلاعات شما را خواهند داشت و لازم است توافق‌نامه‌ای برای
                حفظ اطلاعات با آن سرویس/ نرم‌افزار توسط شما و ایشان منعقد گردد. برای دریافت تمامی اطلاعاتی که تا کنون در سرویس‌های
                ما ثبت کرده‌اید با مراجعه به بخش حساب کاربری در وبسایت سرندیپ می‌توانید خروجی اطلاعات خود را با فرمت
                <a class="en" href="https://fa.wikipedia.org/wiki/%D8%AC%DB%8C%E2%80%8C%D8%B3%D8%A7%D9%86" target="_blank">JSON</a>
                دریافت کنید. شما در صورت تمایل به حذف اکانت و اطلاعاتی که تا کنون در سرویس‌های سرندیپ وارد کرده‌اید، با مراجعه به بخش حساب
                کاربری در وبسایت سرندیپ قادر به حذف همیشگی اطلاعات خود از سرندیپ خواهید بود.

            </p>

            <h2>
                محدوده مسئولیت
            </h2>

            <p>
                در صورت بروز هر گونه حادثه و یا اختلال در دسترسی به اطلاعات شما، سرندیپ موظف خواهد بود تا فایل پشتیبانی از اطلاعات شما را
                که حداکثر از
                <span [innerHtml]="rpd(72)"></span>

                ساعت گذشته تهیه شده است، بازگردانی کند. این اطلاعات شامل تمامی اطلاعات واردشده در سرویس‌های اینترنتی
                سرندیپ خواهد بود. مسئولیت استفاده نامناسب از سرویس/ نرم‌افزارهای سرندیپ که به صورت مستقیم یا غیرمستقیم منجر به نقض
                قانون جرایم رایانه‌ای (لینک) شود، متوجه شما خواهد بود. مسئولیت نتیجه‌گیری اشتباه از تحلیل‌های ارائه‌شده توسط سرویس‌های
                سرندیپ تنها متوجه شما خواهد بود.
            </p>
            <p>
                امیدواریم سرویس‌های سرندیپ باعث افزایش میزان بهره‌وری کسب و کار شما بشود. پیشنهادات و انتقادات خود را در راستای بهبود سرویس‌دهی
                مطلوب‌تر از طریق راه‌های تماس (لینک) برای ما ارسال کنید. مشتاقانه پذیرای نظرات سازنده شما خواهیم بود.
            </p>
        </div>
    </div>
</div>