<header>
    <div class="container">
    <a href="/" class="logo">
        <img class="" src="~/favicon.png" />
    </a>

        <a href="/" class="type">
            <div class="logotype">
                <img src="~/Themes/happy/img/brand/logotype2.min.png" />
            </div>
            <div class="slogan">
                وب,
                طراحی
                و برنامه نویسی
            </div>
        </a>
    </div>
</header>